.contacts {
  @extend %container;
  height: 575px;

  &__container {
    @extend %content-container;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 575px;
    padding: 20px 20px 40px 20px;
  }
}

.contacts {
  @include respondMax(1248px) {
    height: 1055px;

    &__container {
      height: 1055px;
    }
  }
}

.contacts__heading__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 61px;
  left: 1px;
  position: relative;
}

.contacts__heading {
  color: $color-almost_black;
  @include fontStyle(Forum, 40px, normal, 400, 40px);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts__span {
  align-self: center;
  background-color: $color-almost_black;
  height: 1px;
  width: 50px;
}

.contacts__info__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  height: 414px;
}

.contacts__info__container {
  @include respondMax(1248px) {
    flex-direction: column;
    height: 894px;
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 505px;
  height: 380px;
}

.contacts__info {
  @include respondMax(768px) {
    margin-left: 1px;
  }
}

.info__title {
  color: $color-black;
  @include fontStyle(Inter, 20px, normal, 700, 40px);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.info__phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 160px;
  flex-shrink: 0;
}

.info__phone a {
  color: $color-black;
  @include fontStyle(Inter, 20px, normal, 400, 40px);
  letter-spacing: 2px;
  text-transform: capitalize;
  @extend %transition;

  &:hover {
    color: $color-accent;
    @extend %transition;
  }
}

.phone {
  color: $color-black;
  @include fontStyle(Inter, 20px, normal, 400, 40px);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.info__staff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.staff {
  color: $color-black;
  @include fontStyle(Inter, 20px, normal, 700, 40px);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.director {
  color: $color-black;
  @include fontStyle(Inter, 20px, normal, 400, 40px);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.strong-text {
  color: $color-black;
  @include fontStyle(Inter, 20px, normal, 700, 40px);
  letter-spacing: 2px;
  text-transform: capitalize;
  @extend %transition;

  &:hover {
    color: $color-accent;
    @extend %transition;
  }
}

.contacts__map {
  width: 696px;
  height: 414px;
}

.contacts__map {
  @include respondMax(1248px) {
  margin-left: auto;
}
}

.contacts__map {
  @include respondMax(768px) {
  margin-left: auto;
  margin-right: auto;
}
}

.contacts__map {
  @include respondMax(767px) {
  width: calc(600px + (96 + 96 * 0.5) * ((100vw - 640px) / 768));
  height: calc(356px + (58 + 58 * 0.5) * ((100vw - 640px) / 768));
}
}

.contacts__map img {
  @include respondMax(767px) {
  width: calc(600px + (96 + 96 * 0.5) * ((100vw - 640px) / 768));
  height: calc(356px + (58 + 58 * 0.5) * ((100vw - 640px) / 768));
}
}