.header {
  @extend %container;
  background: $color-almost_black;
  height: 90px;
  max-width: 1440px;

  &__content {
    height: 50px;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
    @extend %content-container;
  }
}

.header__logo__heading {
  color: $color-white;
  letter-spacing: 0.6px;
  @include fontStyle(Forum, 30px, normal, 400, 50px);
}

.header__menu a,
.header__menu:hover a {
  @extend %transition;
}

.header__menu {
  @include respondMin(1025px) {
    position: relative;
    margin-left: auto;

    &__li {
      margin-right: 26px;
      display: inline-table;

      &:last-child {
        margin-right: 0px;
      }

      & a {
        color: $color-white;
        text-decoration: none;
        cursor: pointer;
        @include fontStyle(Inter, 20px, normal, 400, 50px);
      }

      & a:hover {
        color: $color-accent;
      }
    }
  }
}

.header__menu {
  @include respondMax(1024px) {
    box-sizing: border-box;
    position: fixed;
    margin-left: 0;
    width: 332px;
    height: 570px;
    padding: 85px 107px;
    background: $color-almost_black;
    right: -100%;
    top: 0;
    overflow: hidden;
    z-index: 4;
    transition: right 0.3s ease 0.05s;

    &__ul {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 118px;
    }

    &__li {
      margin-right: 0;
      display: flex;
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    & a {
      color: $color-white;
      text-decoration: none;
      cursor: pointer;
      @include fontStyle(Inter, 20px, normal, 400, 50px);
    }

    & a:hover {
      color: $color-accent;
    }
  }
}

.burger {
  @include respondMax(1024px) {
    display: block;
    position: absolute;
    top: 4px;
    right: 20px;
    z-index: 100;
    width: 45px;
    height: 40px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 9px;
      content: '';
      width: 100%;
      height: 2px;
      background: $color-white;
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
      position: absolute;
      bottom: 9px;
      content: '';
      width: 100%;
      height: 2px;
      transform: rotate(0);
      background: $color-white;
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &._active::before {
      top: 54%;
      left: 0px;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &._active::after {
      bottom: 40%;
      left: 0px;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &__span {
      position: absolute;
      top: calc(100% / 2 - 1px);
      width: 100%;
      height: 2px;
      background: $color-white;
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &__span._active {
      top: 12px;
      width: 0%;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}

.header__menu {
  @extend %transition;
}

.header__menu._active-menu {
  transition: right 0.3s ease 0.05s;
  right: 0;
}

.header__menu._active-menu {
  @include respondMax(360px) {
    width: 305px;
    height: 570px;
    padding: 85px 93px;
  }
}

.header__menu._active-menu {
  @include respondMax(330px) {
    width: 293px;
    height: 570px;
    padding: 85px 86px;
  }
}

.profile {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: 42px;
  cursor: pointer;
  z-index: 5;

  &__icon {
    @extend %transition;
  }

  ._active-profile {
    fill: $color-accent;
    @extend %transition;
  }
}

.profile {
  @include respondMax(1024px) {
    margin-left: 0;
    margin-right: 85px;
  }
}