@mixin fontStyle ($fontFamily, $fontSize, $fontStyle, $fontWeight, $lineHeight) {
  font-family: $fontFamily;
  font-size:$fontSize;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin respondMin($_minWidth) {
  @media (min-width: $_minWidth) {
    @content;
  }
}

@mixin respondMax($_maxWidth) {
  @media (max-width: $_maxWidth) {
    @content;
  }
}

@mixin respondMinMax($_minWidth, $_maxWidth) {
  @media (min-width: $_minWidth) and (max-width: $_maxWidth) {
    @content;
  }
}