.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 5;

  &._active {
    visibility: visible;
    z-index: 5;
    background-color: rgb(0 0 0 / 60%);
    transition: background-color 0.5s ease-out;
  }
}

.modal__register {
  position: fixed;
  height: max-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  gap: 20px;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transform: rotate3d(0, 1, 0, 90deg);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;

  &._active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transform: rotate3d(0, 0, 0, 0deg);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
  }
}

.modal-register__heading {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.modal__close-btn__register {
  position: absolute;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  right: 12px;
  top: 11px;
  background: inherit;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 3px;
    color: #000;
    background: #000;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    @extend %transition;
  }

  &:hover::before {
    @extend %transition;
    background: $color-accent;
  }

  &::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 3px;
    color: #000;
    background: #000;
    right: 0;
    transform: rotate(-45deg);
    @extend %transition;
  }

  &:hover::after {
    @extend %transition;
    background: $color-accent;
  }
}

.modal__register-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form__text-style {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.register__label {
  display: flex;
  position: relative;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;

  & input[type='text'] {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    width: 200px;
    height: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  & input {
    &:focus {
      outline: none;
    }
  }

  & input[type='email'] {
    box-sizing: border-box;
    padding-left: 10px;
    width: 200px;
    height: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  & input[type='password'] {
    box-sizing: border-box;
    padding-left: 10px;
    width: 200px;
    height: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.form__btn {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 8px 15px;
  background: inherit;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  cursor: pointer;
  margin-top: 10px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  @extend %transition;

  &:hover {
    border: 1px solid $color-accent;
    background: $color-accent;
    @extend %transition;
  }
}

.account {
  display: flex;
  margin-top: -10px;

  & span {
    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
  }

  & button {
    background: inherit;
    border: none;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    cursor: pointer;
    @extend %transition;

    &:hover {
      @extend %transition;
      color: $color-accent;
    }
  }
}

.modal__login {
  position: fixed;
  height: max-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  gap: 20px;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transform: rotate3d(0, 1, 0, 90deg);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;

  &._active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transform: rotate3d(0, 0, 0, 0deg);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
  }
}

.modal-login__heading {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.modal__close-btn__login {
  position: absolute;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  right: 12px;
  top: 11px;
  background: inherit;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 3px;
    color: #000;
    background: #000;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    @extend %transition;
  }

  &:hover::before {
    @extend %transition;
    background: $color-accent;
  }

  &::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 3px;
    color: #000;
    background: #000;
    right: 0;
    transform: rotate(-45deg);
    @extend %transition;
  }

  &:hover::after {
    @extend %transition;
    background: $color-accent;
  }
}

.modal__login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form__text-style {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.login__label {
  display: flex;
  position: relative;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;

  & input[type='text'] {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    width: 200px;
    height: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  & input {
    &:focus {
      outline: none;
    }
  }

  & input[type='email'] {
    box-sizing: border-box;
    padding-left: 10px;
    width: 200px;
    height: 20px;
    border: 1px solid #BB945F;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  & input[type='password'] {
    box-sizing: border-box;
    padding-left: 10px;
    width: 200px;
    height: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.form__btn {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 8px 15px;
  background: inherit;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  cursor: pointer;
  margin-top: 10px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  @extend %transition;

  &:hover {
    border: 1px solid $color-accent;
    background: $color-accent;
    @extend %transition;
  }
}

.account {
  display: flex;
  margin-top: -10px;

  & span {
    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
  }

  & button {
    background: inherit;
    border: none;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
    cursor: pointer;
    @extend %transition;

    &:hover {
      @extend %transition;
      color: $color-accent;
    }
  }
}

.modal__profile {
  position: fixed;
  height: 400px;
  width: 600px;
  display: flex;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transform: rotate3d(0, 1, 0, 90deg);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;

  &._active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transform: rotate3d(0, 0, 0, 0deg);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
  }

  &__left-column {
    align-items: center;
    justify-content: center;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 400px;
    background: #000;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      background: white;
      margin-top: 3px;

      &__name {
        color: #BB945F;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-transform: capitalize;
      }
    }

    &__name {
      display: flex;
      min-width: 120px;
      max-width: 160px;
      width: min-content;
      background: white;
      margin-left: 0px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 5px;

      &__first-name {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      &__last-name {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  &__right-column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 430px;
    height: 400px;
    background: white;
    padding: 40px 20px 38px 21px;

    &__close-button {
      position: absolute;
      width: 21px;
      height: 21px;
      flex-shrink: 0;
      right: 22px;
      top: 21px;
      background: inherit;
      border: none;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        width: 21px;
        height: 3px;
        color: #000;
        background: #000;
        top: 50%;
        left: 0;
        transform: rotate(45deg);
        @extend %transition;
      }

      &:hover::before {
        @extend %transition;
        background: $color-accent;
      }

      &::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 3px;
        color: #000;
        background: #000;
        right: 0;
        transform: rotate(-45deg);
        @extend %transition;
      }

      &:hover::after {
        @extend %transition;
        background: $color-accent;
      }
    }

    &__heading {
      color: #000;
      text-align: center;
      font-family: Forum;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    &__rented-books-container {
      display: flex;
      flex-direction: column;
      height: 106px;
      width: 100%;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 34px;

      &__heading {
        color: #0C0C0E;
        text-align: center;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }

      &__books-container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: max-content;
        height: max-content;
      }

      &__books-container span {
        position: relative;
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: capitalize;
        padding-left: 30px;

        &::before {
          content: '';
          position: absolute;
          background: #000;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: calc(50% - 6px / 2);
          left: 11px;
        }
      }
    }

    &__card-info {
      display: flex;
      gap: 15px;

      &__text {
        color: #0C0C0E;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }

      &__number {
        min-width: 113px;
        color: #BB945F;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }

      &__button {
        box-sizing: border-box;
        position: relative;
        background: transparent;
        border: none;
        cursor: pointer;
        margin-top: 7px;
        width: 13px;
        height: 12px;

        &::before {
          box-sizing: border-box;
          content: '';
          position: absolute;
          width: 11px;
          height: 10px;
          top: 0;
          right: 0;
          border: 1px solid black;
          border-radius: 2px;
          @extend %transition;
        }

        &::after {
          box-sizing: border-box;
          content: '';
          position: absolute;
          width: 11px;
          height: 10px;
          bottom: 0;
          left: 0;
          border: 1px solid black;
          border-radius: 2px;
          background: white;
          @extend %transition;
        }

        &:hover::before {
          border: 1px solid rgba(187, 148, 95, 1);
          @extend %transition;
        }

        &:hover::after {
          border: 1px solid rgba(187, 148, 95, 1);
          @extend %transition;
        }
      }
    }

    & input {
      border: none;
      outline: none;
      width: 113px;
    }
  }
}

.overflow {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 389px;
  height: 56px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #c9c7c7;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #656565;
    width: 2px;
  }
}

.modal__profile {
  @include respondMax(639px) {
    height: max-content;
    width: 100%;
    max-width: 430px;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &__left-column {
      width: 100%;
      height: 200px;
    }

    &__right-column {
      width: 100%;
      max-width: 430px;
      height: max-content;
      align-items: center;
      padding: 20px 20px 20px 20px;

      &__close-button {
        background: transparent;

        &::before {
          color: #ffffff;
          background: #ffffff;
        }

        &::after {
          color: #ffffff;
          background: #ffffff;
        }
      }

      &__heading {
        margin-bottom: 25px;
      }

      &__rented-books-container {
        gap: 30px;
        margin-bottom: 25px;
        height: max-content;
      }
    }
  }
}

.modal__profile {
  @include respondMax(470px) {
    width: 90%;

    &__left-column {
      height: 155px;
      gap: 10px;

      &__icon {
        margin-top: 0px;
      }
    }

    &__right-column {

      &__heading {
        font-size: 35px;
      }

      &__rented-books-container {
        margin-bottom: 25px;

        &__heading {
          font-size: 22px;
        }

        &__books-container span {
          font-size: 16px;
        }
      }

      &__card-info {
        display: flex;
        flex-direction: row;
        gap: 10px;

        &__text {
          font-size: 16px;
        }

        &__number {
          min-width: 100px;
          color: #BB945F;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
        }

        &__button {
          background: transparent;
          cursor: pointer;
          margin-top: 4px;
        }
      }
    }

    &__right-column {
      &__rented-books-container {
        &__books-container span {
          padding-left: 18px;

          &::before {
            left: 5px;
          }
        }
      }
    }
  }
}

._prifile-card-info-container {
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
}

._prifile-card-info {
  gap: 7px;
}

._prifile-card-info-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin-bottom: 2px;
}

._prifile-card-info-icon {
  margin-bottom: 0px;
}

._prifile-card-info-value {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

._default-border {
  border: 1px solid #BB945F;
}

._error-border {
  border: 1px solid #ff0000;
}

._success-border {
  border: 1px solid #00ff0d;
}

.first-name,
.last-name,
.email,
.password-register,
.email-login,
.password-login,
.bank-card-number,
.expiration-code,
.expiration-code__month,
.expiration-code__year,
.cvc,
.cardholder-name,
.postal-code,
.city-town {
  position: absolute;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 6px;
  top: 51px;

  &._success {
    color: rgb(0, 126, 0);
  }
}

.expiration-code__year {
  left: 56px;
}

.first-name._error,
.last-name._error,
.email._error,
.password-register._error,
.email-login._error,
.password-login._error,
.bank-card-number._error,
.expiration-code._error,
.expiration-code__month._error,
.expiration-code__year._error,
.cvc._error,
.cardholder-name._error,
.postal-code._error,
.city-town._error {
  text-align: start;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 9px;
  top: 54px;
  height: -moz-max-content;
  height: max-content;
  color: #ff0000;
  background: rgb(255 255 255);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  padding: 2px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ffffff;
    top: -4px;
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(135deg);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    left: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.expiration-code__year.error {
  left: 56px;
}

.password-register._success {
  text-align: start;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 9px;
  bottom: -9px;
  box-shadow: none;
  padding: 0;
}

.modal__buy-card {
  position: fixed;
  height: max-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: rotate3d(0, 1, 0, 90deg);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;

  &._active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transform: rotate3d(0, 0, 0, 0deg);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 60px;
    flex-shrink: 0;
    background: #0C0C0E;

    & span {
      color: #FFF;
      text-align: center;
      font-family: Forum;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }

  &__body {
    box-sizing: border-box;
    display: flex;
    width: 640px;
    height: 480px;
    background: #FFF;
    padding: 30px 35px 40px 35px;
    gap: 40px;


    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__title {
      width: 330px;
      height: 160px;
      color: #8E8E8E;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 2px;
    }
  }
}

.modal__buy-card {
  @include respondMax(639px) {
    &__heading {
      width: 100%;
      max-width: 640px;

      & span {
        font-size: 22px;
        margin-right: 40px;
      }
    }

    &__body {
      width: 100%;
      max-width: 640px;
      height: 480px;
      padding: 20px 20px 20px 20px;
      flex-direction: column-reverse;
      overflow-x: scroll;

      &__title {
        width: 260px;
        height: 160px;
      }
    }
  }
}

.modal__close-btn__buy {
  position: absolute;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  right: 17px;
  top: 20px;
  background: inherit;
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 3px;
    background: #ffffff;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    @extend %transition;
  }

  &:hover::before {
    @extend %transition;
    background: $color-accent;
  }

  &::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 3px;
    background: #ffffff;
    right: 0;
    transform: rotate(-45deg);
    @extend %transition;
  }

  &:hover::after {
    @extend %transition;
    background: $color-accent;
  }
}

.modal__close-btn__buy {
  @include respondMax(639px) {
    top: 18px;
  }
}

.buy__label {
  display: flex;
  position: relative;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;

  & input[type='text'] {
    box-sizing: border-box;
    padding-left: 10px;
    height: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  & input {
    width: 100%;
    width: 200px;

    &:focus {
      outline: none;
    }
  }

  &:nth-child(3) {
    margin-bottom: 10px;
  }
}

.expiration-code__container {
  display: flex;
  gap: 10px;

  & input {
    width: 45px;
  }
}

#cvc {
  width: 45px;
}

.buy-btn {
  padding: 8px 26px;
}

.buy-btn__container {
  display: flex;
  align-items: flex-end;
}

.cost {
  color: #0C0C0E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 25px;
}