body {
  background-color: lightgray;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-weight: 400;
  font-family: "Tanks";
  src: url("../assets/fonts/tanks.ttf");
}

.wrapper {
  position: absolute;
  display: flex;
  top: calc(50% - 520px / 2);
  left: calc(50% - 600px / 2);
  box-sizing: border-box;
}

canvas {
  position: relative;
  background-color: black;
}

.side-bar {
  box-sizing: border-box;
  padding: 20px 20px 40px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 520px;
  background-color: rgb(128, 128, 128);
}

.enemy-container {
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: repeat(20);
  width: 40px;
  height: 200px;
}

.eneny-container div {
  box-sizing: border-box;
}

.life-container {
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: 20px 20px;
  width: 42px;
  height: 42px;
  gap: 2px;
}

.number-of-player {
  background: url(../assets/images/player-num.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.letter-p {
  background: url(../assets/images/letter-p.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.player-icon {
  background: url(../assets/images/player-icon.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.life-counter {
  box-sizing: border-box;
  font-family: "Tanks";
  font-size: 20px;
  font-style: normal;
  line-height: 16px;
  margin-left: -2px;
}

.level-container {
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: 40px 20px;
  row-gap: 5px;
  width: 40px;
  height: 65px;
}

.flag {
  background: url(../assets/images/flag-icon.png) no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
}

.level-counter {
  font-family: "Tanks";
  font-size: 20px;
  font-style: normal;
  line-height: 16px;
  margin-left: auto;
  box-sizing: border-box;
}