body {
  background-color: lightgray;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Tanks";
  color: #c3c3c3;
  font-weight: 100;
}

@font-face {
  font-weight: 400;
  font-family: "Tanks";
  src: url("../assets/fonts/tanks.ttf");
}

@font-face {
  font-family: "Battle";
  src: url("../assets/fonts/Battle.ttf");
}

.wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 520px 80px;
  grid-template-rows: 520px 60px;
  grid-template-areas:
    "canvas side-bar"
    "footer footer";
  top: calc(50% - 580px / 2);
  left: calc(50% - 600px / 2);
  box-sizing: border-box;
  overflow: hidden;
}

.overlay {
  position: absolute;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 200px 320px;
  grid-template-areas:
    "top"
    "bottom"
  ;
  width: 600px;
  height: 520px;
  top: -100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  transition: all 0.7s linear;
}

.overlay._playing {
  top: -100%;
  transition: all 0.7s linear;
}

.top {
  grid-area: top;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  z-index: 1;
  font-family: "Battle";
  font-weight: 400;
  font-size: 50px;
  color: #9c4a00;
}

.bottom {
  grid-area: bottom;
  display: grid;
  grid-template-columns: 230px 140px 230px;
  grid-template-rows: 320px;
  grid-template-areas:
    "left middle right"
  ;
  position: relative;
  overflow: hidden;
}

.left {
  grid-area: left;
  display: flex;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all .5s linear;
}

.left._visible {
  visibility: visible;
  opacity: 1;
  transition: all .5s linear;
}

.keyboard {
  font-size: 8px;
  align-self: flex-end;
}

.keyboard li {
  display: flex;
  align-items: center;
}

.shooting {
  margin-left: 8px;
}

.shooting>span {
  margin-left: 8px;
}

.middle {
  grid-area: middle;
  margin-top: 30px;
}

.play,
.records,
.controls,
.rules {
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  width: 140px;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.play:hover,
.records:hover,
.controls:hover,
.rules:hover {
  color: #9c4a00;
  transition: all 0.3s linear;
}

.play:focus-visible,
.records:focus-visible,
.controls:focus-visible,
.rules:focus-visible {
  outline: none;
}

.right {
  box-sizing: border-box;
  grid-area: right;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  padding-left: 15px;
  padding-right: 10px;
}

.items {
  font-size: 8px;
  align-self: flex-start;
  visibility: hidden;
  opacity: 0;
  transition: all .5s linear;
  width: 100%;
}

.items._visible {
  visibility: visible;
  opacity: 1;
  transition: all .5s linear;
}

.items li {
  display: flex;
  margin-bottom: 5px;
  height: 10px;
}

.items li>span:first-child {
  width: 24px;
  display: flex;
  margin-bottom: 5px;
}

.items li>span:last-child {
  margin-left: auto;
}

.rules-modal {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 15px;
  padding: 40px 20px;
  background: black;
  top: -100%;
  transition: all .5s linear;
}

.rules-modal._visible {
  top: 0;
  transition: all .5s linear;
}

.close-button {
  position: absolute;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  right: 15px;
  top: 5px;
  background: inherit;
  border: none;
  cursor: pointer;
  transition: all .3s linear;
}

.close-button:hover {
  color: #9c4a00;
  transition: all .3s linear;
}

.result {
  position: absolute;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 130px 90px 300px;
  grid-template-areas:
    "current-level"
    "score"
    "statistics"
  ;
  width: 600px;
  height: 520px;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 1.2s linear;
}

.result._visible {
  visibility: visible;
  opacity: 1.2;
  transition: all 1.2s linear;
}

.current-level {
  grid-area: current-level;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 20px;
  text-align: center;
}

.score {
  grid-area: score;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 15px;
}

.score>div>span:last-child {
  color: #9c4a00;
}

.statistics {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: repeat(5, 60px);
  grid-area: statistics;
  width: 100%;
}

.regular,
.light,
.medium,
.heavy,
.total {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-columns: 200px 145px 50px 30px 40px;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 15px;
}

.heavy {
  border-bottom: 2px solid #c3c3c3;
}

.regular>span:nth-child(5)>img,
.light>span:nth-child(5)>img,
.medium>span:nth-child(5)>img,
.heavy>span:nth-child(5)>img {
  width: 35px;
  height: 35px;
}

canvas {
  grid-area: canvas;
  position: relative;
  background-color: black;
}

.side-bar {
  grid-area: side-bar;
  box-sizing: border-box;
  padding: 20px 19px 40px 19px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(128, 128, 128);
}

.enemy-container {
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: repeat(10, 20px);
  gap: 2px;
  width: 42px;
  height: 218px;
}

.eneny-container div {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.enemy-item {
  width: 20px;
  height: 20px;
  background: url(../assets/images/icons/enemy-icon.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.life-container {
  display: grid;
  grid-template-columns: 20px 20px;
  grid-template-rows: 20px 20px;
  width: 42px;
  height: 42px;
  gap: 2px;
}

.number-of-player {
  background: url(../assets/images/icons/player-num.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.letter-p {
  background: url(../assets/images/icons/letter-p.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.player-icon {
  background: url(../assets/images/icons/player-icon.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.life-counter {
  box-sizing: border-box;
  color: black;
  font-size: 20px;
  font-style: normal;
  line-height: 16px;
  margin-left: -2px;
}

.level-container {
  display: grid;
  grid-template-columns: 40px;
  grid-template-rows: 40px 20px;
  row-gap: 5px;
  width: 40px;
  height: 65px;
}

.flag {
  background: url(../assets/images/icons/flag-icon.png) no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
}

.level-counter {
  color: black;
  font-size: 20px;
  font-style: normal;
  line-height: 16px;
  margin-left: auto;
  box-sizing: border-box;
}

.footer {
  grid-area: footer;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 40px;
  grid-template-areas:
    "rss year github"
  ;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px 25px 10px 25px;
  background-color: black;
}

.rss {
  grid-area: rss;
  height: 100%;
  cursor: pointer;
}

.footer__span {
  grid-area: year;
  position: relative;
  margin: auto;
  font-size: 14px;
  line-height: 26px;
}

.github {
  grid-area: github;
  position: relative;
  width: 40px;
  margin-left: auto;
  cursor: pointer;
}