:root {
  --color-accent: #BB945F;
  --color-almost_black: #0C0C0E;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey: #8E8E8E;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.header {
  position: relative;
  display: flex;
  background: var(--color-almost_black);
  height: 90px;
  width: 1440px;
  margin: auto;
}

.header__content {
  position: relative;
  display: flex;
  width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  justify-content: space-between;
  margin: auto;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

.header__logo__heading a {
  color: var(--color-white);
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

.header__logo__heading a:hover {
  color: var(--color-accent);
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

.header__menu {
  position: relative;
  right: -207px;
}

.header__menu__li {
  margin-right: 26px;
  display: inline-table;
}

.header__menu__li:last-child {
  margin-right: 0px;
}

.header__menu__li a {
  color: var(--color-white);
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  cursor: pointer;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

.header__menu__li a:hover {
  color: var(--color-accent);
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  cursor: pointer;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

.profile {
  padding-top: 11px;
  padding-bottom: 11px;
}

.profile__ic,
.profile__icon {
  cursor: pointer;
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

.profile__ic:hover,
.profile__icon:hover {
  fill: var(--color-accent);
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: auto;
}

.welcome {
  position: relative;
  width: 1440px;
  height: 600px;
}

.welcome__container {
  width: 1440px;
  height: 600px;
  background-image: url(../assets/img/background.jpg);
  background-size: cover;
  background-position-y: center;
}

.welcome__overlay {
  width: 1440px;
  height: 300px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome__heading__container {
  box-sizing: border-box;
  display: flex;
  position: relative;
  top: -79px;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #0C0C0E;
}

.welcome__heading {
  display: flex;
  position: relative;
  width: 520px;
  top: -1px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--color-white);
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.first-str {
  position: relative;
  left: -5px;
}

.third-str {
  position: relative;
  left: 1px;
}

.about {
  position: relative;
  display: flex;
  height: 837px;
  width: 1440px;
  margin: auto;
}

.about__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 837px;
  padding: 20px 20px 40px 20px;
  margin: auto;
}

.about__heading__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 106px;
  height: 61px;
}

.about__heading {
  color: var(--color-almost_black);
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.about__span {
  align-self: center;
  background-color: var(--color-almost_black);
  font-family: Forum;
  height: 1px;
  width: 50px;
}

.about__subheading__container {
  position: relative;
  top: 7px;
}

.about__subheading {
  color: var(--color-black);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.slider__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1400px;
  height: 560px;
  top: -7px;
}

.slider__dots {
  display: flex;
  justify-content: space-between;
  width: 68px;
  height: 16px;
  text-align: center;
}

.slider__dot {
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--color-almost_black);
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}

.slider__dot::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}

.slider__dot._active,
.slider__dot:hover {
  background-color: var(--color-accent);
  transition: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 300ms;
  -webkit-transition-timing-function: ease-in-out;
}