@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #000000, #3e41a3);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 442px;
  height: 317px;
}

.cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 200px;
  background: rgb(53, 53, 53);
  border-radius: 5px;
  left: 22px;
}
.cover-c {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  background: rgb(53, 53, 53);
  height: 200px;
  border-radius: 10px;
}
.cover-c__t-l {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 10px;
  top: 5px;
  left: 5px;
}
.cover-c__t-l::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  top: 49%;
  left: 2px;
  transform: rotate(45deg);
  border-radius: 2px;
}
.cover-c__t-l::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  bottom: 41%;
  right: 2px;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.cover-c__t-r {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 10px;
  top: 5px;
  right: 5px;
}
.cover-c__t-r::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  top: 49%;
  left: 2px;
  transform: rotate(45deg);
  border-radius: 2px;
}
.cover-c__t-r::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  bottom: 41%;
  right: 2px;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.cover-c__b-l {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 10px;
  bottom: 5px;
  left: 5px;
}
.cover-c__b-l::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  top: 49%;
  left: 2px;
  transform: rotate(45deg);
  border-radius: 2px;
}
.cover-c__b-l::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  bottom: 41%;
  right: 2px;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.cover-c__b-r {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 10px;
  bottom: 5px;
  right: 5px;
}
.cover-c__b-r::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  top: 49%;
  left: 2px;
  transform: rotate(45deg);
  border-radius: 2px;
}
.cover-c__b-r::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  bottom: 41%;
  right: 2px;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.cover-c__b-c {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 10px;
  bottom: 28px;
  left: 148px;
  z-index: 2;
}
.cover-c__b-c::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  top: 49%;
  left: 2px;
  transform: rotate(45deg);
  border-radius: 2px;
}
.cover-c__b-c::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  background: #757575;
  bottom: 41%;
  right: 2px;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.cover-c__fg {
  position: relative;
  width: 274px;
  height: 120px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}
.cover-c__fg__top {
  display: flex;
  width: 100%;
  height: 40px;
  background: rgb(255, 255, 255);
  gap: 5px;
}
.cover-c__fg__top__cover {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
.cover-c__fg__top__artist {
  display: flex;
  flex-direction: column;
  width: 234px;
  height: 40px;
  background: #ffffff;
}
.cover-c__fg__top__artist__title {
  border-bottom: 1px solid #c4c4c4;
}
.cover-c__fg__top__artist__author {
  border-bottom: 1px solid #c4c4c4;
}
.cover-c__fg__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #c782ae;
}
.cover-c__fg__bottom__top {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 9px;
  margin-top: 5px;
  width: 185px;
  height: 53px;
  background: rgb(53, 53, 53);
  border-radius: 5px;
  box-shadow: -1px -1px 1px rgb(87, 87, 87), 1px 1px 1px rgb(87, 87, 87);
}
.cover-c__fg__bottom__top__circle-left {
  box-sizing: border-box;
  position: relative;
  width: 35px;
  height: 35px;
  background: black;
  border: 2px solid white;
  border-radius: 50%;
}
.cover-c__fg__bottom__top__circle-left__1 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  top: -1px;
  left: 13px;
}
.cover-c__fg__bottom__top__circle-left__2 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  top: 5.5px;
  right: 2px;
  transform: rotate3d(0, 0, 1, 50deg);
}
.cover-c__fg__bottom__top__circle-left__3 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  bottom: 5.5px;
  right: 2px;
  transform: rotate3d(0, 0, 1, 310deg);
}
.cover-c__fg__bottom__top__circle-left__4 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  bottom: -1px;
  left: 13px;
}
.cover-c__fg__bottom__top__circle-left__5 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  bottom: 5.5px;
  left: 2px;
  transform: rotate3d(0, 0, 1, 50deg);
}
.cover-c__fg__bottom__top__circle-left__6 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  top: 5.5px;
  left: 2px;
  transform: rotate3d(0, 0, 1, 310deg);
}
.cover-c__fg__bottom__top__circle-left._play {
  animation: circle infinite 5s linear;
}
.cover-c__fg__bottom__top__circle-right {
  box-sizing: border-box;
  position: relative;
  width: 35px;
  height: 35px;
  background: black;
  border: 2px solid white;
  border-radius: 50%;
}
.cover-c__fg__bottom__top__circle-right__1 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  top: -1px;
  left: 13px;
}
.cover-c__fg__bottom__top__circle-right__2 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  top: 5.5px;
  right: 2px;
  transform: rotate3d(0, 0, 1, 50deg);
}
.cover-c__fg__bottom__top__circle-right__3 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  bottom: 5.5px;
  right: 2px;
  transform: rotate3d(0, 0, 1, 310deg);
}
.cover-c__fg__bottom__top__circle-right__4 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  bottom: -1px;
  left: 13px;
}
.cover-c__fg__bottom__top__circle-right__5 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  bottom: 5.5px;
  left: 2px;
  transform: rotate3d(0, 0, 1, 50deg);
}
.cover-c__fg__bottom__top__circle-right__6 {
  position: absolute;
  width: 3px;
  height: 4px;
  background: #ffffff;
  top: 5.5px;
  left: 2px;
  transform: rotate3d(0, 0, 1, 310deg);
}
.cover-c__fg__bottom__top__circle-right._play {
  animation: circle infinite 5s linear;
}
.cover-c__fg__bottom__bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
  height: 16px;
  background: #c782ae;
  font-size: 10px;
  color: #ffffff;
  font-weight: 600;
}
.cover-c__fg__bottom__bottom::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 60px;
  height: 4px;
  top: 6px;
  left: 0;
}
.cover-c__fg__bottom__bottom::after {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 60px;
  height: 4px;
  top: 6px;
  right: 0;
}
.cover-c__bg {
  position: relative;
  margin-top: 8px;
  width: 220px;
  height: 52px;
  background: linear-gradient(103deg, transparent 15px, rgb(43, 43, 43) 0) top left, linear-gradient(-103deg, transparent 15px, rgb(43, 43, 43) 0) top right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
.cover-c__bg__circle-left {
  position: absolute;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  bottom: 12px;
  left: 28px;
}
.cover-c__bg__circle-right {
  position: absolute;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  bottom: 12px;
  right: 28px;
}
.cover-c__bg__square-left {
  position: absolute;
  width: 12px;
  height: 12px;
  background: black;
  bottom: 15px;
  left: 58px;
  border-radius: 2px;
}
.cover-c__bg__square-right {
  position: absolute;
  width: 12px;
  height: 12px;
  background: black;
  bottom: 15px;
  right: 58px;
  border-radius: 2px;
}

.play-list {
  position: absolute;
  width: 274px;
  height: 120px;
  top: -120px;
  background: #d3d3d3;
  z-index: 2;
  transition: all 0.5s linear;
  overflow-y: scroll;
}
.play-list::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #c9c7c7;
}
.play-list::-webkit-scrollbar-thumb {
  background-color: #656565;
  width: 2px;
}
.play-list._open {
  top: 0;
  transition: all 0.5s linear;
}
.play-list li {
  display: flex;
  justify-content: space-between;
  padding: 2px 4px;
  position: relative;
  padding: 5px;
  padding-left: 20px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}
.play-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}
.play-list li._active::before {
  color: #5dbdb0;
}
.play-list li span {
  font-size: 14px;
}

.buttons {
  position: relative;
  display: flex;
  width: 322px;
  height: 35px;
  margin-top: 0px;
  left: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #c1c1c1;
}
.buttons__container {
  display: flex;
  width: 100%;
  height: 35px;
}
.buttons__container button {
  background: rgb(165, 164, 164);
  width: 50px;
  height: 35px;
  border: none;
  margin-right: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.buttons__container button:hover {
  background: rgb(207, 207, 207);
  transition: 0.3s;
}
.buttons__container button.play-pause-btn.play {
  background-image: url(../assets/svg/play.svg);
  transition: 0.3s;
}
.buttons__container button.play-pause-btn.pause {
  background-image: url(../assets/svg/pause.svg);
  transition: 0.3s;
}

.separator {
  position: relative;
  width: 324px;
  height: 38px;
  left: 20px;
  background: #c1c1c1;
  box-shadow: 0px 2px 0px rgb(87, 87, 87), 0px 2px 0px rgb(87, 87, 87);
  z-index: 1;
}

.progress {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 1px;
  width: 100%;
  height: 4px;
  background: rgb(115, 115, 115);
  background: rgb(174, 173, 173);
}
.progress-bar {
  height: 2px;
  background: white;
}

.top {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0px;
  left: 20px;
  width: 324px;
  height: 20px;
  background: #c1c1c1;
  box-shadow: 0px 2px 0px rgb(87, 87, 87), 0px 2px 0px rgb(87, 87, 87);
  z-index: 1;
}

.left {
  position: absolute;
  width: 20px;
  height: 295px;
  top: 0;
  left: 0px;
  background: #c1c1c1;
  box-shadow: 2px 0px 0px rgb(87, 87, 87), 2px 0px 2px rgb(87, 87, 87);
  border-radius: 10px 0px 0px 10px;
}

.right {
  position: absolute;
  width: 98px;
  height: 295px;
  top: 0;
  right: 0px;
  background: #c1c1c1;
  box-shadow: -2px 0px 0px rgb(87, 87, 87), -2px 0px 2px rgb(87, 87, 87);
  border-radius: 0px 10px 10px 0px;
}
.right .dots {
  margin-top: 28px;
}
.right .dots p {
  display: flex;
  justify-content: center;
  gap: 2px;
  row-gap: 2px;
  margin-bottom: 2px;
}
.right .dots span {
  width: 4px;
  height: 4px;
  background: #616161;
  z-index: 5;
  border-radius: 50%;
}

@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}
.volume {
  position: relative;
  display: flex;
  align-self: center;
  width: 115px;
  justify-content: center;
}

input[type=range] {
  height: 5px;
  width: 110px;
  -webkit-appearance: none;
  background-color: rgb(174, 173, 173);
  border-radius: 5px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  -webkit-appearance: none;
  margin-top: 0px;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -2.5px;
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 5px;
}

.play-list-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 23px;
  height: 18px;
  right: 10px;
  bottom: 0;
  cursor: pointer;
}
.play-list-btn::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgb(0, 0, 0);
  top: 0px;
  -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(225deg);
  left: -3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.play-list-btn__top-line {
  position: relative;
  width: 80%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 2px;
  top: 0px;
  margin-left: auto;
}
.play-list-btn__mid-line {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 2px;
  top: -1px;
}
.play-list-btn__bottom-line {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 2px;
  top: -2px;
}

.info {
  position: relative;
  margin-top: 35px;
  margin-left: 15px;
}

.battery {
  width: 60px;
  height: 20px;
  margin-top: 10px;
  margin-left: 15px;
  background: green;
}/*# sourceMappingURL=index.css.map */